body {
    padding-top: 5rem;
    background-color: #fcf4e7;
}

.title{
	font-family: "Brush Script MT";
}

textarea{
	width:100%;
	margin-bottom: 10px;
}

label{
	font-size: 13px;
}


#mybtn{
	background-color: white;
	color: black;
	border-radius: 4px;
	font-size: 14px;
	border: solid #c8d6e5 1.7px;
	font-family: Calibri;
	transition-duration: 0.4s;
}

#mybtn:hover{
	background-color: black;
	color: white;
}

#submitbtn{
	margin-top: 17px;
	color:white;
	background-color:#1B9CFC;
	border-radius: 4px;
	border: solid #c8d6e5 0.7px;
	font-size: 14px;
}

#filemsg{
	font-size: 13px;
	margin-left: 5px;
}




button:focus, button:active:focus, button.active:focus {
    outline: none !important;
    outline-style: none !important;
}



/*-----------------------------------------------------------Post Item-------------------------------------------------------------------------*/

.post-item{
	display: grid;
	background-color: white;	
	grid-template: 8% 52% 28% 10% / 50% 50%;
	width: 50%;
	height: 600px;
	border: solid 0.02px black;
	-webkit-box-shadow: -1px 1px 9px 0px rgba(0,0,0,0.53);
	-moz-box-shadow: -1px 1px 9px 0px rgba(0,0,0,0.53);
	box-shadow: -1px 1px 9px 0px rgba(0,0,0,0.53);
}

#feed{
	list-style: none;
}
.grid1{
	/*border: solid 2px red;*/
	grid-column: 1 / span 2;
	display: flex;
	align-items: center;
	font-size: 12px;
}

.grid2{
	/*border: solid 2px red;*/
	grid-column: 1 / span 2;
}


.grid3{
	/*border: solid 2px red;*/
	grid-column: 1 / span 2;
	margin-left: 8px;
	margin-right: 8px;
}
.grid4{
	/*border: solid 2px red;*/
	grid-column: 1 / span 1;
	margin-left: 8px;
	display: flex;
	align-items: center;
}

.grid4-2{
	/*border: solid 2px red;*/
	grid-column: 2 / span 1;
	text-align: right;
	display: flex;
	margin-left: auto;
	margin-right: 15px;
	align-items: center;
}


.grid1 img{
	height: 20px;
	width: 20px;
	margin-right: 8px;
	margin-left: 4px;
}

.grid2 img{
	height: 300px;
	width: 100%;
}
.grid4 i{
	margin-right: 4px;
}

.liked{
	color: red;
}

ul{
	list-style: none;
}

