body {
    padding-top: 5rem;
}

textarea{
	width:100%;
	margin-bottom: 10px;
}

label{
	font-size: 13px;
}


#mybtn{
	background-color: white;
	color: black;
	border-radius: 4px;
	font-size: 14px;
	border: solid #c8d6e5 1.7px;
	font-family: Calibri;
	transition-duration: 0.4s;
}

#mybtn:hover{
	background-color: black;
	color: white;
}

#submitbtn{
	margin-top: 17px;
	color:white;
	background-color:#1B9CFC;
	border-radius: 4px;
	border: solid #c8d6e5 0.7px;
	font-size: 14px;
}

#filemsg{
	font-size: 13px;
	margin-left: 5px;
}

#bio{
	width: 40%;
	height: 100px;
}

button:focus, button:active:focus, button.active:focus {
    outline: none !important;
    outline-style: none !important;
}

label{
	text-align: left;
}
.form{
	width: 40%;
	align-content: center;
	border: solid 0.5px black;
}

