<!DOCTYPE html>
<html>
<head>
    <title>TEST PAGE</title>
    <link rel="stylesheet" href="../static/css/app.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
<header>
</head>
    <div>
        <form method = "GET" enctype="multipart/form-data">
            <button id="exbtn" type="submit" hidden>Explore</button>
        </form>
        <ul id="feed">
            <li>
                <div class="post-item">
                    <div class="grid1">
                        <img src="../static/uploads/Rosa.JPG"> Rosa Diaz
                    </div>
                    <div class="grid2">
                         <span id="postpic"><img src = "../static/uploads/future-drug-addiction-we-all-love-it.jpg" alt = "Gaza" class= "image"></span>
                    </div>
                    <div class="grid3">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed justo dolor, venenatis sed lorem euismod, ornare porta urna. Nulla ultrices aliquet augue, sed consequat turpis consequat et. Nullam at metus lorem. Fusce ut urna accumsan, molestie felis vel, cursus justo. Nunc at vestibulum mauris. In tristique purus vel sodales ultricies. Proin eu nibh rutrum tellus congue lobortis at eu erat. Pellentesque pellentesque bibendum sapien, quis efficitur augue gravida in. Duis luctus non sem vel sodales. In in auctor sapien. Sed nec semper ligula. Fusce sollicitudin eros risus, et rhoncus justo tempus in. In ultricies, orci nec maximus mollis, dui purus scelerisque erat, a mattis mi dolor a elit.
                    </div>
                    <div class="grid4">
                        <i class="far fa-heart"></i> Likes
                    </div>
                    <div class="grid4-2">
                        17 May, 2020
                    </div>
                </div>
            </li>
        </ul>
    </div>
</html>
