<!DOCTYPE html>
<html>
<head>
    <title>PROFILE PAGE</title>
    <link rel="stylesheet" href="../static/css/app.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
<header>
</head>
    <div>
        <form method = "GET" enctype="multipart/form-data">
            <button id="exbtn" type="submit" hidden>Explore</button>
        </form>
        <ul id="feed">
            <li>
                <div class="profile-card">
                    <div class="pgrid1">
                        <img src="../static/uploads/Rosa.JPG">
                    </div>
                    <div class="pgrid2">
                        <span>Rosa Diaz</span><br><br>
                        Kingston, Jamaica<br>
                        Member since January 2018<br><br><br>
                        This is my short biography so you can learn more about me.
                    </div>
                    <div class="pgrid3">
                        6
                    </div>
                    <div class="pgrid3-2">
                        10                   
                    </div>
                    <div class="pgrid3-3">
                        Posts
                    </div>
                    <div class="pgrid3-4">
                        Followers 
                    </div>
                    <div class="pgrid4">
                        <button>Follow</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</html>
